*{
    margin:0;
    padding:0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.carousel{
    width: 1920px;
    height: 400px;
    margin:20px auto;
    background-color: #444;
    position:relative;/*相对定位*/
    overflow:hidden;
}
/*1.轮播组图样式设置*/
.carousel-img{
    width: 99999px;
}
.carousel-img li{
    float:left;
}
.carousel-img img{
    width: 1920px;
    height: 400px;
}
/*2.控制器*/
.prev,.next{
    width: 32px;
    height: 32px;
    position:absolute;/*绝对定位,脱离文档流,它相对于position:relative定义的元素进行定位*/
    top:50%;
    margin-top: -16px;
}
.prev{
    background-image: url(./img/prev.png);
    left: 50px;
}
.next{
    background-image: url(./img/next.png);
    right:50px;
}
/*3.计数器*/
.count{
    width: 1000px;
    position:absolute;
    bottom:25px;
}
.count ul{
    width: 60px;
    height: 10px;
    margin:0 auto;
}
.count ul li{
    width: 10px;
    height: 10px;
    cursor:pointer;/*将鼠标形状设为手形*/
    background-color: #666;
    opacity:.5;/*不透明度,取值范围:[0,1]之间的一个数,可以是小数*/
    float:left;
    margin-right: 10px;
    border-radius:50%;/*圆角*/
}
.count .active{
    background-color: #102bad;
    opacity:1;
}