* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

input {
    outline: none;
}

div {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
}

.nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    top: 0;
    background-color: transparent;
    padding: 6px 0;

}

.nav div {
    float: left;
}

.nav div:nth-child(1) {
    cursor: pointer;
    background: url(../images/s-btn.png) no-repeat center center;
    background-size: 20px 16px;
    height: 32px;
    width: 40px;
}

.nav div:nth-child(2) {
    width: calc(100% - 80px);
    max-width: 560px;
    height: 100%;
}

.nav div:nth-child(2) input {
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    border: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-indent: 4.5em;
}

.nav div:nth-child(2):before {
    content: "|";
    text-indent: 25px;
    line-height: .8;
    color: #cfcfcf;
    width: 20px;
    height: 15px;
    display: block;
    position: absolute;
    background: url(../images/jd.png) no-repeat center center;
    background-size: 20px 15px;
    top: 15px;
    left: 53px;
}
.nav div:nth-child(2):after{
    content:"";
    text-indent: 25px;
    height: 15px;
    width: 15px;
    position: absolute;
    background: url(../images/jd-sprites.png) no-repeat -82.5px 0;
    background-size: 200px 200px;
    top: 15px;
    left: 90px;

}

.nav div:nth-child(3) {
    text-align: center;
    width: 40px;
}

.nav div:nth-child(3) a {
    color: #fff;
    line-height: 32px;
    font-size: 12px;
    font-weight: 400;
}

.tnav {
    width: 100%;
    height: 300px;
    background-size: 50% 50%;
    background: url(../upload/banner.dpg) round;
}

.nav2 {
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.nav2 div {
    float: left;
    height: 100%;
    width: calc(100% * (1 / 3));
}

.nav2 .nav2_1 {
    background: url(../upload/pic11.dpg) round;
}

.nav2 .nav2_2 {
    background: url(../upload/pic22.dpg) round;
}

.nav2 .nav2_3 {
    background: url(../upload/pic33.dpg) round;
}

.shoplist {
    width: 100%;
    height: 100%;
}

.shoplist li {
    display: inline-block;
    margin-right: -5px;
    width: 20%;
    min-width: 90px;
    height: 100px;
}

.shoplist li a {
    color: #000;
    display: block;
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 12;
    background: url(../upload/nav2.webp) no-repeat center 2px;
}

.btmbnr {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.btmbnr div {
    float: left;
    height: 100%;
    width: 25%;
}

.btmbnr div:nth-child(1) {
    width: 50%;
    background: url(../upload/new1.dpg) round;
}

.btmbnr div:nth-child(2) {
    background: url(../upload/new2.dpg) round;
}

.btmbnr div:nth-child(3) {
    background: url(../upload/new3.dpg) round;
}