*{
    margin:0;
    padding: 0;
}
a{
    text-decoration:none;
}
li{
    list-style-type: none;
}
.clearfix:after{
    display: block;
    content: "";
    height: 0;
    clear:both;
    visibility:hidden;
}
.clearfix{
    *zoom:1;
}