@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1576301393603'); /* IE9 */
  src: url('iconfont.eot?t=1576301393603#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKsAAsAAAAABmAAAAJgAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApsgQMBNgIkAwgLBgAEIAWEbQcwG6kFyC6wbdiTQNvRP7ERWE7SBQBABE/70ebt7okbkFyyqDRCEU9HqXiIhELEm0kJf2Pafmyjcv63rPq9bWfSsdP84Dwe5VAKiwPhICd4hmADLt91lQlX+4yirPeJe6d/An2QUe+8y2WMYWNsnNQFGE2gAPfCKLJiTEW8Zhf5nECjUU35nbPNJVdT2OsCccO19VytEFUUsVAv1DYcLeKJGvXpcXoLi9Hv4z/Lo0ZSk9lb91yaWrnBL7/kW9UtJwJCjIDTNchYJqcQBxqzuxSFyBU1Zksm5Y7VGPxSVYFXHNUlxL/Orm8Gw1A/k8bTPqpsAgXNEOtaji17c3NzOf/94dDHj4ffvz/47l2szCtgOIAt5y8e6OPUs/z1uflZYHwmKDMlFCh96rvp9evkG+4JSqg4BQx3kVq8tl75d/W7OSKYf5+pbV2vDYe+DCZaUb0o8i3U79Ub/o5mYE8xdLYnFU3TWEyGFc/a1KgRFS7Y6XeqvedWiqFezw3564xkyOpNk4VdhhpNVqJWvS1otNT8dJMurChKA5Z4J4R2n0havUHW7oss7A9q9PpDrfYootGhcGWT2XAbM+qCFhhv4JpxRK5PGnHjCe17oHNeF/E35MxNQK/dLRfmGCEvsSN72H0RAuI4hBm9hkEQQ8Kxh6a0HZFE6XSo6UNtMw5zDTswpBPIAgxvgMsUi1AwWDQq3z9BtruAjju66vI3iGXc2UFPW3cAOTdHg7oe5Z3Mg61PCAIIi4XAjBahQCAGkuZFHmQSbc6EdELRcfrRUHN7e2v4d6egke1I4czLam+izqaTywEA') format('woff2'),
  url('iconfont.woff?t=1576301393603') format('woff'),
  url('iconfont.ttf?t=1576301393603') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1576301393603#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e600";
}

