*{
    margin:0;
    padding:0;
}
a{
    color:#fff;
    text-decoration:none;
    background: url(../images/bg1.png);
    line-height:50px;
    text-align:center;
}
.wrapper{
    width: 1000px;
}
a,.wrapper ul li{
    display: inline-block;
    width: 120px;
    height: 58px;
}
.bgt1:hover{
    background:url(../images/bg2.png);
}
.bgt2:hover{
    background:url(../images/bg3.jpg);
}
.bgt3:hover{
    background:url(../images/bg22.png);
}
.bgt4:hover{
    background:url(../images/bg5.png);
}
.bgt5:hover{
    background:url(../images/bg11.png);
}
